@font-face {
    font-family: "Outfit";
    src: url(../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf)
        format(truetype);
    font-weight: 100 900;
}

@font-face {
    font-family: "OutfitStatic";
    src: url(../assets/fonts/Outfit/static/Outfit-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "OutfitStatic";
    src: url(../assets/fonts/Outfit/static/Outfit-Bold.ttf) format(truetype);
}
