@import url(fonts.css);

:root {
    font-family: Outfit, "OutfitStatic", sans-serif;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 1.2;
}

p {
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: hsl(216, 15%, 48%);
}
