@import url(reset.css);
@import url(animations.css);

:root {
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 1rem;
}

.card {
    animation: fade-in 500ms ease-out 200ms 1 backwards;
    max-width: 320px;
    background-color: white;
    padding: 1rem;
    padding-bottom: 2.5rem;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
    border-radius: 20px;
}

.card__body {
    text-align: center;
    margin-top: 1.5rem;
    padding: 0 1rem;
}

.spacing > *:not(:last-child) {
    margin-bottom: 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
